@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes heart-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heart-pop {
  animation: heart-pop 0.3s ease-in-out;
}